<%- include("partials/header.ejs") %> <%for(const product of productList){ %>

<div class="container">
  <img
    class="img-product"
    src="<%= product.illustration_binary %>"
    alt="Caméra 1"
  />

  <h3><%= product.name %></h3>
  <p><%= product.description %></p>
  <p><%= product.price %>€</p>
  <button>
    <a href="/product/<%= product.id %>/productdetails"
      >Voir détails produits</a
    >
  </button>
</div>

<% } %> <%- include("partials/footer.ejs") %>
